/* 테이블 헤더의 컬럼*/
th{
    vertical-align: center;
    text-align: center;
    align-content: center;
}
/* 테이블 로우가되는 컬럼 */
td{
    vertical-align: center;
    text-align: center;
    align-content: center;
}
tbody{
    cursor: pointer;
}
/* 테이블 헤드*/
thead{
    text-align: center;
}
.table{
--bs-table-bg: transparent;
--bs-table-accent-bg: transparent;
--bs-table-striped-color: #212529;
--bs-table-striped-bg: rgba(0, 0, 0, 0.05);
--bs-table-active-color: #212529;
--bs-table-active-bg: rgba(0, 0, 0, 0.1);
--bs-table-hover-color: #212529;
--bs-table-hover-bg: rgba(0, 0, 0, 0.075);
width: 100%;
margin-bottom: 1rem;
color: #212529;
vertical-align: top;
border-color: #dee2e6;
}